<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Analyzers" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Design" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Relational" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.SqlServer" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Tools" version="2.2.0" targetFramework="net461" developmentDependency="true" />
</packages>